################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/STALKER2_Disable_Shader_Compilation/obj
/STALKER2_Disable_Shader_Compilation/bin/Debug/net8.0-windows
